<div *ngFor="let d of sortData; let i = index">
  <h5 class="date-heading">{{(d.time | date:'fullDate' | removeDuplicate:i)}}</h5>
  <div class="card w-75 card-size">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-7">
          <div>
            <img src={{d.subjectPhotoUrl}} />
            <span class="card-title title"><b>{{d.title}}</b></span>
          </div>
          <p class="card-text description">{{d.description}}</p>
        </div>
        <div class="col-sm-3">
          <img src={{d.instructorPhotoUrl}} />
          <span class="card-text instructorName">{{d.instructorName}}</span>
        </div>
        <div class="col-sm-2">
          <h6 class="card-title">{{d.time | date:'shortTime'}} - {{d.time   | date:'shortTime'}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
